.wrapper {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Modeuristic", sans-serif;
  background-color: #ffffff; /* White Background */
}

/* Hide spinner arrows in number inputs for WebKit browsers (Chrome, Safari, Edge, Opera) */
.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner arrows in Firefox */
.numberInput {
  -moz-appearance: textfield;
}

.container {
  padding: 20px;
  background-color: #f6e2e2; /* Very Light Gray for slight contrast */
  height: 90vh;
  width: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #333333; /* Dark Charcoal */
  border: 1px solid #e0e0e0; /* Subtle border for the container */
  border-radius: 10px;
  overflow: scroll;
  overflow-x: hidden;
}
@media only screen and (max-width : 670px){
  .container{
    height: 100vh;
  }
  
}
.container::-webkit-scrollbar {
  width: 5px;
  z-index: 3;
}

.container::-webkit-scrollbar-track {
  border-radius: 2px;
}

.container::-webkit-scrollbar-thumb {
  background: rgba(225, 171, 171, 0.7);
  border-radius: 5px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #b7a4a4;
}

.inputForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputForm > div {
  /*targets only direct children*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputBox {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
  width: 300px;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fdf7f7; /* White */
  color: #333333; /* Dark Charcoal */
  border: 2px solid #a8d5ba; /* Soft Mint Green */
  border-radius: 5px;
  padding: 5px;
  outline: none;
  border: none;
}
.inputBox:focus {
  box-shadow: 0.2px 0.2px 3px 3px rgba(156, 142, 142, 0.5);
}
.inputDescriptionBox {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100px;
  width: 300px;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fdf7f7; /* White */
  color: #333333; /* Dark Charcoal */
  border: 2px solid #a8d5ba; /* Soft Mint Green */
  border-radius: 5px;
  padding: 5px;
  outline: none;
  border: none;
  text-align: left;
  vertical-align: top;
  resize: none;
}
.inputDescriptionBox::placeholder {
  text-align: left;
}
.inputDescriptionBox:focus {
  box-shadow: 0.2px 0.2px 3px 3px rgba(156, 142, 142, 0.5);
}
.checkboxContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.hiddenCheckbox {
  opacity: 0;
  position: absolute;
}

.customCheckbox {
  width: 20px;
  height: 20px;
  border: 2px solid #a8d5ba; /* Soft Mint Green */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: #fdf7f7; /* Light background */
}

.customCheckbox:hover {
  background-color: #e0f7e0; /* Hover effect */
}

.checkboxLabel {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #333333;
}

.dropDownOverlayContainer {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: max-content;
  margin-top: 10px;
  top: 0;
  z-index: 2;
}

.dropDownDiv {
  height: max-content;
  max-height: 70vh;
  width: 70vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #89cff0; /* Sky Blue */
  position: relative;
  padding: 10px;
  background-color: #ffffff; /* White */
  border-radius: 10px;
}

.dropDownButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #a8d5ba; /* Soft Mint Green */
  border-radius: 5px;
  background-color: #fafafa; /* Sky Blue */
  color: rgb(34, 21, 3);
  width: max-content;
  height: 30px;
  margin-top: 20px;
  padding: 5px;
  font-weight: bold;
}

.dropDownIcon {
  margin: 5px;
  padding: 0;
  height: 20px;
  width: auto;
}

.dropDownButton:hover {
  cursor: pointer;
  background-color: #36e9e9; /* Medium Teal for hover */
}

.closeDropDown {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

.closeDropDown:hover {
  cursor: pointer;
  background-color: #66b2b2; /* Medium Teal */
}

.categoryNames {
  padding: 0;
  margin: 0;
  width: 100%;
}

.categoryNames li {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #a8d5ba; /* Soft Mint Green */

  height: 30px;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: #f9f9f9; /* Very Light Gray */
  color: #333333; /* Dark Charcoal */
  border-radius: 5px;
}

.categoryNames li:hover {
  background-color: #e0f7e0; /* Slightly tinted green for hover */
}
.rotate {
  transform: rotate(180deg);
}
